* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 3.75em;
}

#blob-motion {
  position: absolute;
  display: block;
  top: -30%;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotateY(20deg);
          transform: translate(-50%, 0) rotateY(20deg);
  opacity: 0.3;
  z-index: -1;
}

.bars {
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: none;
  z-index: 10000;
}

.full-screen {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  color: white;
  z-index: 5000;
}

.show {
  display: none;
}

.fas.fa-times {
  display: none;
  color: black;
  position: fixed;
  top: 2%;
  right: 7%;
  font-size: 2em;
}

.small-nav {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.5em;
}

@media (max-width: 528px) {
  .small-nav {
    font-size: 1.5em;
  }
}

.small-nav li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  -webkit-animation: showWords 1s;
          animation: showWords 1s;
  opacity: 0;
  font-weight: 600;
  list-style: none;
  padding: 0.5em 0em;
}

.small-nav li a {
  text-decoration: none;
  color: black;
  font-variant: small-caps;
}

.small-nav li:first-child {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.small-nav li:nth-child(2) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.small-nav li:nth-child(3) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.small-nav li:nth-child(4) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.small-nav li:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 996px) {
  .full-screen {
    display: none;
  }
  .white-screen {
    display: none;
  }
}

.white-screen {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 1000;
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.fall {
  -webkit-animation: falling 1s;
          animation: falling 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: visible;
}

@-webkit-keyframes falling {
  0% {
    z-index: 1000;
    opacity: 0;
  }
  100% {
    z-index: 1000;
    opacity: 0.85;
  }
}

@keyframes falling {
  0% {
    z-index: 1000;
    opacity: 0;
  }
  100% {
    z-index: 1000;
    opacity: 0.85;
  }
}

@-webkit-keyframes showWords {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes showWords {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  background: #141414;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
}

.flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  overflow: hidden;
  top: 0;
}

.flex-nav img {
  padding: 0.5em;
  z-index: 1;
}

.flex-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex-nav ul li {
  padding: 0px 15px;
  z-index: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #8a8a8a;
}

.flex-nav ul li:hover {
  cursor: pointer;
}

.flex-nav ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-variant: small-caps;
}

article {
  color: #B4975A;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  margin-bottom: -5em;
}

article .clip-path {
  position: relative;
  -webkit-clip-path: ellipse(90% 55% at 50% 30%);
          clip-path: ellipse(90% 55% at 50% 30%);
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

article .clip-path .svg {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
  z-index: 0;
  bottom: 0%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

article .clip-path .svg2 {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
  z-index: 0;
  bottom: 0%;
  -webkit-animation: wave linear 3s infinite;
          animation: wave linear 3s infinite;
}

article .clip-path .svg3 {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
  bottom: 0%;
  right: -30%;
  z-index: 0;
  -webkit-animation: wave2 linear 3s infinite;
          animation: wave2 linear 3s infinite;
}

article .middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
}

article .middle .name {
  color: white;
  font-family: 'Lato';
  font-weight: 100;
  padding: 10em 0em 0em 4em;
}

article .middle .name h1.first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  letter-spacing: 50px;
  opacity: 0.5;
  text-transform: uppercase;
}

article .middle .name h1.last {
  font-family: 'Lato', sans-serif;
  letter-spacing: 50px;
  text-transform: uppercase;
  font-size: 6em;
}

article .middle .square-img {
  text-align: center;
  display: block;
  -webkit-transform: rotate(-2deg) translateY(0%);
          transform: rotate(-2deg) translateY(0%);
}

article .middle .square-img img {
  width: 550px;
}

article .middle .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

article .middle .info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #424242;
  z-index: 1000;
}

article .middle .info > * {
  width: 100%;
  padding-right: 2em;
  z-index: 100;
}

article .middle .info h2 {
  position: relative;
  color: #B4975A;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

article .middle .info h4 {
  color: white;
  font-size: 2em;
}

article .middle .info p {
  color: #a9a9a9;
  font-variant: small-caps;
  font-size: 0.9em;
  font-weight: 100;
}

article .middle .info > * {
  margin: 0.2em 0em;
}

article .middle .info .personal {
  margin-top: 1em;
  color: #B4975A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .middle .info .personal span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 0em 1em;
}

article .middle .info .personal > * {
  margin: 0.3em 0em;
}

section {
  width: 100%;
  background: #141414;
  padding-bottom: 5em;
}

section:hover .apps1 {
  margin-right: 7em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section:hover .apps2 {
  margin-left: 7em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

h1.yo {
  text-align: center;
  color: #a9a9a9;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3em;
}

.story *.card:first-child {
  background: -webkit-gradient(linear, left bottom, left top, from(skyblue), color-stop(120%, blue));
  background: linear-gradient(0deg, skyblue 0%, blue 120%);
  z-index: 100;
}

.story *.card:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(skyblue), color-stop(120%, blue));
  background: linear-gradient(0deg, skyblue 0%, blue 120%);
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateY(10px) scale(0.9);
          transform: translateY(10px) scale(0.9);
  z-index: -5;
  opacity: 0.7;
}

.story *.card:nth-child(2) {
  background: -webkit-gradient(linear, left bottom, left top, from(#fd7289), color-stop(90%, yellow));
  background: linear-gradient(0deg, #fd7289 0%, yellow 90%);
  z-index: 100;
}

.story *.card:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateY(10px) scale(0.9);
          transform: translateY(10px) scale(0.9);
  z-index: -5;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd7289), color-stop(90%, yellow));
  background: linear-gradient(0deg, #fd7289 0%, yellow 90%);
  opacity: 0.7;
}

.story *.card:nth-child(3) {
  background: -webkit-gradient(linear, left bottom, left top, from(lightgreen), color-stop(120%, green));
  background: linear-gradient(360deg, lightgreen 0%, green 120%);
  z-index: 100;
}

.story *.card:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateY(10px) scale(0.9);
          transform: translateY(10px) scale(0.9);
  z-index: -5;
  background: -webkit-gradient(linear, left bottom, left top, from(lightgreen), color-stop(120%, green));
  background: linear-gradient(360deg, lightgreen 0%, green 120%);
  opacity: 0.7;
}

.story *.card:nth-child(4) {
  background: -webkit-gradient(linear, left bottom, left top, from(orange), color-stop(120%, red));
  background: linear-gradient(360deg, orange 0%, red 120%);
  z-index: 100;
}

.story *.card:nth-child(4)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateY(10px) scale(0.9);
          transform: translateY(10px) scale(0.9);
  z-index: -5;
  background: -webkit-gradient(linear, left bottom, left top, from(orange), color-stop(120%, red));
  background: linear-gradient(360deg, orange 0%, red 120%);
  opacity: 0.7;
}

.story .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 1em;
  color: white;
  border-radius: 10px;
  font-family: 'Lato';
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  height: 200px;
  width: 200px;
}

.story .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.story .card .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story .card .first > * {
  padding: 0em 0.3em;
}

.story .card .card-1 *:first-child {
  color: yellow;
}

.story .card .card-1 *:nth-child(2) {
  color: #12bc12;
}

.story .card .card-1 *:nth-child(3) {
  color: #99c4d4;
}

.story .card .card-2 *:first-child {
  color: tomato;
}

.story .card .card-2 *:nth-child(2) {
  color: #fb7a90;
}

.story .card .card-2 *:nth-child(3) {
  color: #23aee5;
}

.story .card .card-3 *:first-child {
  color: red;
}

.story .card .card-3 *:nth-child(2) {
  color: green;
}

.story .card .card-3 *:nth-child(3) {
  color: #2525ff;
}

.story .card .card-4 *:first-child {
  color: yellow;
}

.story .card .card-4 *:nth-child(2) {
  color: #157ec0;
}

.story .card .second {
  padding-top: 0.75em;
}

.story i {
  font-size: 30px;
}

.projects {
  position: relative;
  background: #000;
  padding: 2em 0em 6em 0em;
}

.projects .proj-grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
}

.projects .proj-grids > * > * > h3 {
  color: white;
  font-family: 'Lato';
  font-weight: 300;
}

.projects .proj-grids > * > a {
  text-decoration: none;
}

.projects .proj-grids > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .proj-grids .grid {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects .proj-grids .grid:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px 10px #4b4b4b;
          box-shadow: 0px 0px 20px 10px #4b4b4b;
  cursor: pointer;
}

.projects .proj-grids .grid-1 {
  position: relative;
  background: transparent;
  padding: 7em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 80%);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.projects .proj-grids .grid-1 h3 {
  padding-top: 0.5em;
}

.projects .proj-grids .grid-1 .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .proj-grids .grid-1 .link img {
  display: block;
  margin: 0 auto;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.projects .proj-grids .grid-2 {
  position: relative;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 80%);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.projects .proj-grids .grid-2 > * {
  padding: 0.5em 0em;
}

.projects .proj-grids .grid-2 .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .proj-grids .grid-2 .link > .img2 {
  margin: 0 auto;
  padding: 1em 0em;
}

.projects .proj-grids .grid-2 .link > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .proj-grids a.link img {
  display: block;
  margin: 0 auto;
}

.projects .proj-grids a.link h3 {
  text-align: center;
}

.projects .proj-grids .grid-3 {
  position: relative;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 -50%, #000000 90%);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.projects .proj-grids .grid-3 .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .proj-grids .grid-4 {
  position: relative;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #000000 0%, #2d3436 150%);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.projects .proj-grids .grid-4 .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .proj-grids .grid-4 h3 {
  padding-top: 0.5em;
}

.projects h1.soon {
  color: white;
  display: none;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.work h1 {
  padding: 5em 0em 0em 0em;
  text-align: center;
  color: #a9a9a9;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.work .work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12em;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
}

.work .work-grid > * {
  margin: 0em 1.5em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.work .work-grid img {
  width: 100px;
}

.work .work-grid .box1 {
  background-color: #222;
  border-radius: 6px;
  padding: 0.5em;
  width: 350px;
  height: 200px;
  border-top: 5px solid #18aaff;
  border-right: 5px solid #18aaff;
  margin-top: 15em;
}

.work .work-grid .box2 {
  background-color: #222;
  border-radius: 6px;
  padding: 0.5em;
  width: 350px;
  height: 200px;
  border-top: 5px solid #2fff0a;
  border-right: 5px solid #2fff0a;
}

.work .work-grid .box3 {
  background-color: #222;
  border-radius: 6px;
  padding: 0.5em;
  width: 350px;
  height: 200px;
  border-top: 5px solid turquoise;
  border-right: 5px solid turquoise;
  margin-top: 15em;
}

.work .top-head {
  background: #333;
  top: 0%;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 1em;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.work .top-head h5 {
  background-color: #333;
  font-size: 0.85em;
  text-align: center;
}

.work .top-head h5.tdsb {
  color: #2fff0a;
}

.work .top-head h5.mgcs {
  color: #18aaff;
}

.work .top-head h5.ism {
  color: turquoise;
}

.work .info {
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  width: auto;
  padding: 0.5em 0em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.work .info .description {
  padding-left: 1.5em;
}

.work .info h2 {
  font-size: 1em;
  width: 100%;
  color: white;
  padding: 0.3em;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.work .info p {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  padding-bottom: 0.9em;
  color: #b6b6b6;
}

.work .info button {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  background: transparent;
}

.work .info .read:hover {
  background: white;
  color: inherit;
  cursor: pointer;
}

.work .info img {
  width: 90px;
  border-radius: 50%;
  margin-left: 0.5em;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.container3 {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #B4975A;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media .circle {
  margin: 0em 5em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.media .circle i {
  border: 2px solid black;
  padding: 1em;
  font-size: 1.5em;
}

.media .circle i {
  color: black;
  border-radius: inherit;
  padding: 1em;
  font-size: 1.5em;
}

.media .circle i:hover {
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: black;
  color: #B4975A;
}

@media (max-width: 768px) {
  .media > * {
    padding: 1em;
  }
}

.positions {
  background-color: black;
  padding-bottom: 6em;
}

.open-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1em 0em 0em 0em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.open-position h2 {
  color: #B4975A;
}

.open-position i {
  font-size: 2em;
  background: #B4975A;
  padding: 0.3em;
  border-radius: 50px;
  color: black;
}

.open-position h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}

.open-position p {
  color: #a9a9a9;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 0.8em;
}

.open-position > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 250px;
  height: 250px;
  margin: 1em 2em;
  background: rgba(191, 191, 191, 0.2);
  padding: 0em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px inset, rgba(180, 151, 90, 0.25) 0px 50px 100px -20px, rgba(82, 82, 82, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px inset, rgba(180, 151, 90, 0.25) 0px 50px 100px -20px, rgba(82, 82, 82, 0.3) 0px 30px 60px -30px;
}

.open-position > * > * {
  padding: 0.4em 0em;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons * > button {
  padding: 0.5em;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #B4975A;
  color: #B4975A;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0.5em;
}

.buttons * > button:hover {
  cursor: pointer;
  background-color: #B4975A;
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttons * > button.active {
  background-color: #B4975A;
  color: black;
}

.buttons * > button.active:hover {
  cursor: not-allowed;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  color: white;
  width: 100%;
  height: 450px;
  padding-bottom: 10em;
  margin-bottom: 3em;
}

.wrapper > * {
  padding: 1em;
}

.wrapper .main {
  background-color: #B4975A;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.wrapper .main h3 {
  padding-bottom: 3em;
  font-size: 1.5em;
  font-family: 'Segoe UI';
  font-weight: 500;
}

.wrapper .main ul {
  list-style: none;
}

.wrapper .main ul > * {
  padding: 0.5em 0em;
}

.wrapper .contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  color: #B4975A;
  font-family: 'Lato';
  font-weight: 900;
}

.wrapper .contact form > * {
  margin: 0.5em;
}

.wrapper .contact form p > label {
  display: block;
  padding-bottom: 0.5em;
}

.wrapper .contact form p > input {
  background: rgba(191, 191, 191, 0.1);
  border: none;
  padding: 0.7em;
  color: white;
}

.wrapper .contact form input {
  color: yellow;
}

.wrapper .contact form input:focus {
  outline: none;
}

.wrapper .grid-area, .wrapper textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.wrapper textarea {
  background: rgba(191, 191, 191, 0.1);
  opacity: 1;
  color: white;
  border: none;
}

.wrapper textarea:focus {
  outline: none;
}

.wrapper .contact form textarea, .wrapper .contact form input {
  width: 100%;
  padding: 6px;
}

.wrapper .contact form button {
  width: 100%;
  padding: 0.75em;
  background: #B4975A;
  border: 2px solid #B4975A;
  color: black;
  font-size: 0.95em;
  border-radius: 50px;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content {
  position: relative;
  color: white;
  max-width: 50%;
  -webkit-box-shadow: 1px 1px 15px 3px  #B4975A;
          box-shadow: 1px 1px 15px 3px  #B4975A;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  -webkit-animation-name: modalShow;
          animation-name: modalShow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #161616;
}

.modal-content .modal-info h2 {
  color: #B4975A;
  font-family: 'Lato';
  text-align: center;
  margin: 1em auto 0em auto;
}

.close {
  position: absolute;
  top: -5%;
  right: 0%;
  font-size: 1.5em;
  margin: 0.5em;
  z-index: 1000;
  font-size: 2.5em;
}

.close:hover {
  cursor: pointer;
}

.modal-content > ul {
  padding: 1em 1em;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 968px) {
  .proj-grids .grid-4 .link {
    position: relative !important;
  }
  .proj-grids > * {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 3 !important;
    grid-column: 1/4 !important;
  }
  .proj-grids > * img {
    max-width: 100%;
  }
}

@media (max-width: 1196px) {
  .work .work-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 8em;
  }
  .work .work-grid .box1 {
    margin: 4em auto 0em auto;
    border-radius: 0px;
  }
  .work .work-grid .box2 {
    margin: 3.5em auto 0em auto;
    -webkit-transform: skewY(-17.5deg) !important;
            transform: skewY(-17.5deg) !important;
    border-radius: 0px;
  }
  .work .work-grid .box3 {
    margin: 3em auto 0em auto;
    border-radius: 0px;
  }
}

@media (max-width: 696px) {
  .work-grid .imgz img {
    width: 70px;
  }
  .box1 {
    max-width: 300px;
    height: 150px;
  }
  .box2 {
    max-width: 300px;
    height: 250px;
    -webkit-transform: skewY(-21deg) !important;
            transform: skewY(-21deg) !important;
  }
  .box3 {
    max-width: 300px;
    height: 150px;
  }
  .contact-me .container2 {
    padding: 0px 0px;
  }
  .modal-content {
    max-width: 75%;
  }
  .modal-content .modal-info h2 {
    font-size: 1em;
  }
  .modal-content .modal-info li {
    font-size: 0.75em;
  }
}

@media (max-width: 1296px) {
  article .middle {
    -ms-grid-columns: 30% 30% 40%;
        grid-template-columns: 30% 30% 40%;
  }
  article .middle .name {
    padding: 1em;
    font-size: 1em;
  }
  article .middle .square-img {
    -webkit-transform: rotate(-2deg) translateY(10%) translateX(-35%);
            transform: rotate(-2deg) translateY(10%) translateX(-35%);
  }
  article .middle .square-img img {
    width: 500px;
  }
  article .middle .info h2 {
    font-size: 1.3em;
  }
  article .middle .info h4 {
    font-size: 1.5em;
  }
  article .middle .info p {
    font-size: 0.9em;
  }
}

@media (max-width: 868px) {
  article .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article .middle .name {
    text-align: center;
    font-size: 0.60em;
  }
  article .middle .name h1.first {
    letter-spacing: 25px;
  }
  article .middle .name h1.last {
    letter-spacing: 25px;
  }
  article .middle .square-img {
    -webkit-transform: translateY(-10%) translateX(0%);
            transform: translateY(-10%) translateX(0%);
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article .middle .square-img img {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  article .middle .info {
    -webkit-transform: translateY(-135%);
            transform: translateY(-135%);
    height: 290px;
    text-align: center;
    background-color: black;
    width: 100%;
    border-radius: 50%;
  }
  article .middle .info > * {
    padding-right: 0em;
  }
  article .middle .info h2 {
    font-size: 1.3em;
  }
  article .middle .info h4 {
    font-size: 1em;
  }
  article .middle .info p {
    font-size: 0.9em;
  }
  article .middle .info span {
    font-size: 0.75em;
  }
  .flex-nav ul {
    display: none;
  }
  .flex-nav .bars {
    display: block;
  }
}

@media (max-width: 468px) {
  #blob-motion {
    top: -50%;
    width: 750px;
  }
  article .middle .info {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    height: 198px;
  }
  article .middle .info h2 {
    font-size: 0.85em;
  }
  article .middle .info h4 {
    font-size: 0.8em;
  }
  article .middle .info p {
    font-size: 0.75em;
  }
  article .middle .info .personal {
    margin-top: 0.35em;
  }
}
/*# sourceMappingURL=style.css.map */